<!DOCTYPE html>
<html ng-app="ticTacToeApp">
  <head>
    <title>TIC TAC TOE</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="js/game.js"></script>

    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body ng-controller="ticTacToeCtrl">
     <div id="game">
       <ul id="teams">
        <li ng-repeat="player in players">
          <img src="{{player.img_url}}">
          <h2>Team {{player.name}}<span class="team"></span></h2>
          <h3 class="player">{{player.marker}}</h3>
        </li>

      </ul>
      <div id="board" >
        <div id="tile{{tile.id}}" ng-repeat="tile in tiles" class="tile" ng-click="handleClick()">{{tile.marker}}</div>
      </div>
      <div id="results">
        <h1></h1>
        <span class="image"></span>
        <button>play again</button>
      </div>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="js/underscore.min.js"></script>

  </body>
</html>


